.ball {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .jumping__image {
    height: 600px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .jumping__image {
    height: 500px;
  }
}

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .jumping__image {
    height: 720px;
  }
}

/* .primary__button {
  background-color: #ce5316;
}

.primary__button:hover {
  background-color: #d69637;
}

.secondary__button {
  background-color: #d69637;
}
.secondary__button:hover {
  background-color: #ce5316;
} */
