.ball {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

/* .primary__button {
  background-color: #ce5316;
}

.primary__button:hover {
  background-color: #d69637;
}

.secondary__button {
  background-color: #d69637;
}
.secondary__button:hover {
  background-color: #ce5316;
} */
